body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;
}

.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.control-container {
    width: 100%;
    padding-bottom: 36px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.middle {
    display: flex;
    gap: 10px;
}

.btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    color: white;
}

.up, .down {
    background: burlywood;
}

.left, .right {
    background: burlywood;
}

.stop {
    background: mediumaquamarine;
    width: 70px;
    height: 70px;
}

.btn:hover {
    filter: brightness(1.3);
    transform: scale(1.1);
}

.bottom-row-info {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-around;
}

.gps-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background: #1e1e1e;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.gps-table th, .gps-table td {
    padding: 12px 15px;
    border: 1px solid #333;
    text-align: left;
}

.gps-table th {
    background: #333;
    font-weight: bold;
}

.gps-table tr:nth-child(even) {
    background: #2c2c2c;
}


